<!DOCTYPE html>
<html lang="en">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>

    <div id="wrapper">

        <!-- Menu -->
        <%- partial('_partial/header') %>

        <div id="main">
            <div class="inner">

                <!-- Main Content -->
                <%- body %>

            </div>
        </div>

        <%- partial('_partial/footer.ejs') %>
    </div>

    <%- partial('_partial/body-end') %>

</body>

</html>